body {
    background-color: rgb(102, 25, 115);
}

#container {

    background-color: rgb(24, 24, 24);
    border-radius: 4px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startButton {
    color: rgb(239, 237, 237);
    background-color: rgb(102, 25, 115);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 15px;
}

#startButton:hover {
    color: rgb(102, 25, 115);
    background-color: rgb(236, 236, 236);
    transition: all 100ms ease-out;
}

#buttonCount {
    font-weight: 500;
    margin: 25px 0;
    font-size: 18px;
    color: rgb(236, 235, 235);
}

#count {
    font-size: 50px;
    margin: 0;
    color: rgb(235, 235, 235);
    font-weight: bold;
    margin-bottom: 20px;
}

.disabled {
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    cursor: auto !important;
}

#success {
    color: #057642;
    font-size: 15px;
    font-weight: 500;
    display: none;
}

#wrongSite {
    margin: 40px 20px;
    display: none;
    color: #c32510;
    font-size: 15px;
    font-weight: 500;
    display: none;
    text-align: center;
}